# Ignore all node_modules folders
**/node_modules/

# Ignore build outputs
**/dist/

# Ignore TypeScript metadata (optional)
*.tsbuildinfo

# Ignore logs
logs/
*.log
backend/logs/

# Ignore environment files (optional)
.env
.env.local
backend/.env

log-collector/fluent-bit-db/
log-collector/fluent-bit-storage/