.selected-red .oj-selected {
  background-color: var(--oj-core-danger-secondary-2); /* light red background */
  border-left: 4px solid var(--oj-core-danger-3); /* strong red border */
  color: var(--oj-core-text-color-danger); /* ensures readable text */
}

/* Optional: If you want smooth transition */
.sidebar-avatar-collapsed {
  transition: var(--oj-animation-ease-in);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--oj-spacing-4x) var(--oj-spacing-3x);
}


:root {
  --sidebar-expanded-width: 200px;
  --sidebar-collapsed-width: 72px;
}

.sidebar-container {
  width: var(--sidebar-expanded-width);
  transition: width var(--oj-animation-duration-long) var(--oj-animation-ease-in-out);
  overflow: hidden;
}

.sidebar-container.collapsed {
  width: var(--sidebar-collapsed-width);
}

