.selected-red .oj-selected {
  background-color: var(--oj-core-danger-secondary-2); /* light red background */
  border-left: 4px solid var(--oj-core-danger-3); /* strong red border */
  color: var(--oj-core-text-color-danger); /* ensures readable text */
}

/* Optional: If you want smooth transition */
.selected-red .oj-selected {
  /* transition: background-color 0.3s, border-left 0.3s; */
  transition: var(--oj-animation-ease-in);
}
.sidebar-avatar-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--oj-spacing-4x) var(--oj-spacing-3x);
}
